* {
    margin: 0 ;
    padding:  0 ;
    box-sizing: border-box ;
}
header {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    height: 4rem ;
    z-index: 1;
    background-color:antiquewhite;
}

ul {
    list-style-type: none;
    display: flex;
}
li {
    margin: 1rem auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 13rem ;
}
h2 {
    font-size: 3rem ;
    background-color: #222;
    color: white;
    padding: 0.8rem 1.5rem ;
    letter-spacing: 2px ;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}
.hexcode{
    color: white;
}
button {
    font-size: 1rem;
    text-transform: uppercase;
    padding: 1rem;
    margin: 2.5rem auto;
    letter-spacing  : 5px;
    font-weight: bold;
    
    background-color: transparent;
    border: 1px solid #222222;
    border-radius: 8px;
    color: #222222;
    cursor: pointer;
}

footer {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    margin-bottom: 1rem;
    color: black;
}

